<h1 mat-dialog-title>Product</h1>
<div mat-dialog-content>
  Selected purchaseID: {{data.id}}
  <mat-form-field>
    <input matInput placeholder="Approved" [(ngModel)]="data.approved">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Processes" [(ngModel)]="data.processes">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="amount" min="0" [(ngModel)]="data.total_amount">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Time" [(ngModel)]="data.timestamp">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
