<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
</div> -->

<h1 mat-dialog-title>Product</h1>
<div mat-dialog-content>
  Selected product: {{data.name}}
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="data.description">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Price" [(ngModel)]="data.price">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Quantity" [(ngModel)]="data.quantity">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>

